POSTGRES_USER=YOURNAME
POSTGRES_PASSWORD=URPASSWORD
POSTGRES_DB=YOURNAME
POSTGRES_PORT=YOURPORT
DATABASE_URL=YOURPOSTGRESURL
POSTGRES_HOST=YOURHOST

JWT_SECRET_KEY=YOURSECRETKEY
JWT_ALGORITHM=HS256

MAIL_PASSWORD=YOURPASSWORD
MAIL_USERNAME=YOURMAIL
MAIL_FROM=YOURVALUE
MAIL_PORT=YOURVALUE
MAIL_SERVER=YOURVALUE
MAIL_TLS=True
MAIL_SSL=False
USE_CREDENTIALS=True